// Release Configuration
ENABLE_TESTABILITY = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_BITCODE = NO

// Release signing
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = M29A6H95KD

// Release deployment
TARGETED_DEVICE_FAMILY = 1
IPHONEOS_DEPLOYMENT_TARGET = 15.0

// Version
MARKETING_VERSION = 1.1.0
CURRENT_PROJECT_VERSION = 1

// Entitlements
CODE_SIGN_ENTITLEMENTS = Resources/App.entitlements
